<footer class='c-footer'>
 <div id="quotebox" class="o-grid__col o-grid__col--4-4-s o-grid__col--3-4-m--center o-grid__col--3-4-l--center" style="height: auto;padding-left: 45px;padding-right: 45px; margin-bottom: 30px">
      <div class="quote_box" style="margin-top:0; padding-top: 20px;">
        <div class="line"></div>
        <p>Η ιστοσελίδα έχει αμιγώς πληροφοριακό χαρακτήρα και δεν υποκαθιστά την κλινική εξέταση, την αξιολόγηση συμπτωμάτων και ευρημάτων, και την ιατρική συμβουλή</p>    
        <div class="line"></div>
        <img src="{{ asset 'images/mybreast_logo.png' }}" style="
    max-height: 40px;
    margin: 0 auto;
    margin-top: 30px;
"><strong style="font-size: 16px">Βασίλειος Καλλές</strong> <small>MD, MSc, PhD, FEBS</small> <br>Γενικός Χειρουργός / Χειρουργός Μαστού<br><br>{{> social-icons }}
      </div>
    </div>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--1-4-m o-grid__col--1-4-l' style="text-align: center; margin-bottom: 15px">
      <p><img src='{{ asset 'images/mediteraneo.png' }}' alt='Image Alternative Text'></p>
      <p class='u-mb-8 u-font-size-medium u-font-weight-medium'>Mediteraneo Hospital Breast Clinic</p>
      <p>Ηλείας 8-12, Γλυφάδα 166 75<br>
        +(30) 210 911 7000 <br>
        drkalles@mybreast.gr<br>
      </p>
    </div>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--1-4-m o-grid__col--1-4-l' style="text-align: center; margin-bottom: 15px">
      <p><img src='{{ asset 'images/medicenter.png' }}' alt='Image Alternative Text'></p>
      <p class='u-mb-8 u-font-size-medium u-font-weight-medium'>Medicenter Κορίνθου Ιδιωτικό Πολυϊατρείο</p>
      <p>Γεωρ. Παπανδρέου 42, Κόρινθος 201 00<br>
        +(30) 2741 085268 <br>
        vkalles@med.uoa.gr<br>
      </p>
    </div>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--1-4-m o-grid__col--1-4-l' style="text-align: center; margin-bottom: 15px">
      <p><img src='{{ asset 'images/nna.png' }}' alt='Image Alternative Text'></p>
      <p class='u-mb-8 u-font-size-medium u-font-weight-medium'>Ναυτικό Νοσοκομείο Αθηνών (N.N.A)</p>
      <p>Δεινοκράτους 70, Αθήνα 115 21<br>
        (+30) 210 726 1000 <br>
        v.kalles@hellenicnavy.gr<br>
      </p>
    </div>

    <div class='o-grid__col o-grid__col--full'>
      <div class='c-footer__bottom'>
        <div class='o-grid'>

          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m' style="text-align: center;">
            <div class='u-font-size-tiny c-footer__copyright'>
              &copy; {{ date format='YYYY' }} {{ @site.title }} &ndash; Βασίλειος Καλλές
            
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>